<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="md.intelectsoft.quickpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".POSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_version"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_new_version_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRetail"
        android:usesCleartextTraffic="true">

        <activity android:name=".phoneMode.ui.orders.BillDetailActivity"/>
        <activity android:name=".phoneMode.ui.shiftUI.BillShiftsActivity"/>
        <activity android:name=".phoneMode.activity.InOutCashActivity" />
        <activity
            android:name=".phoneMode.activity.FinancialReportsActivity"
            android:label="Financial operation" />
        <activity android:name=".phoneMode.activity.CreditCardPayActivity" />
        <activity android:name=".phoneMode.activity.CountSelectActivity" />
        <activity
            android:name=".phoneMode.ui.shiftUI.ShiftListActivity"
            android:label="Shifts" />
        <activity android:name=".phoneMode.activity.SettingsActivity" />
        <activity
            android:name=".phoneMode.ui.orders.BillListActivity"
            android:label="Bills" />
        <activity android:name=".phoneMode.activity.InputReceiveActivity" />
        <activity android:name=".phoneMode.activity.PaymentActivity" />
        <activity android:name=".phoneMode.activity.CartActivity" />
        <activity
            android:name=".phoneMode.ui.shiftUI.ShiftDetailActivity"
            android:label="@string/title_shift_detail"
            android:parentActivityName=".phoneMode.ui.shiftUI.ShiftListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="md.intelectsoft.quickpos.phoneMode.ui.shiftUI.ShiftListActivity" />
        </activity>
        <activity
            android:name=".tabledMode.activity.AuthTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.ShiftsTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.HistoryTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.ReportsTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.MainTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.FinancialRepTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tabledMode.activity.SettingsTabledActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" />
        <activity android:name=".phoneMode.activity.ScanActivity" />
        <activity
            android:name=".phoneMode.activity.MainActivityPhone"
            android:label="Sales"
            android:theme="@style/Theme.MyRetail.NoActionBar" />
        <activity
            android:name=".phoneMode.activity.AuthorizeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>